doctype html
html(lang='ru-RU')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title e_shop_egorov
        // SEO
        meta(name='description', content='egosait')
        meta(name='keywords', content='egosait')
        meta(name='author', content='egosait')
        // favicon
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='../img/icon/favicon.ico', type='image/x-icon')
        // CSS
        link(rel='stylesheet', href='../css/normalize.css')
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../css/fonts.css')
        link(rel='stylesheet', href='../css/sprite.css')
        // modernizer
        script(src='../js/modernizr.js')
        //[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]
    body
         //[if gt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
        .body__wrapper
            header
                .header__wrapper
                    .header__contacts
                        ul.socials
                            each val_soc in ['facebook', 'vk', 'twitter']
                                li.socials__item
                                    a(href="http://"+val_soc+".com" target="_blank" class="sprite sprite-"+val_soc)=val_soc+".com"
                        .header__adress ул. Маяковская 6, офис 17
                        .header__phone +7 (921) 123-12-13
                    .header__logo
                        img.header__logo-pic
                        a.header__logo-link(href="#")
                        form.header__search(action='#' method='get' )
                            input.header__search-input(type='text' placeholder='search')
                            button.header__search-but(type='submit') Найти
                        nav.header__search-nav
                            each val_nav_search in ['карта проезда', 'история заказов', 'корзина']
                                li.header__search-nav-item
                                    a(href="http://" + val_nav_search + ".com" target="_blank" class="sprite sprite-" + val_nav_search)=val_nav_search
                    .header__nav
                        each val_nav_menu in ['Планшеты', 'Мобильные', 'телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
                            li.header__search-nav-item
                                a(href="http://" + val_nav_menu + ".com" target="_blank" class="sprite sprite-" + val_nav_menu)=val_nav_menu
                    .breadcrumbs
                        each val_nav_breadcrumbs in ['Главная', 'Каталог']
                            li.header__search-nav-item
                                a(href="http://" + val_nav_breadcrumbs + ".com" target="_blank" class="sprite sprite-" + val_nav_breadcrumbs)=val_nav_breadcrumbs + ">"
            .content__wrapper
                h1.content__header Мобильные телефоны
                aside.content__aside
                    .content__aside__menu-one
                        each val_aside_menu_one in ['Флагманы', 'Бюджетная линейка']
                            li.aside__menu-one-item
                                a(href="http://" + val_aside_menu_one + ".com" target="_blank" class="sprite sprite-" + val_aside_menu_one)=val_aside_menu_one + ">"
                    .content__aside__menu-two
                        each val_aside_menu_two in ['Наличие в магазинах', 'Бренды', 'Цена', 'Цвет', 'Операционная система']
                            li.aside__menu-two-item
                                a(href="http://" + val_aside_menu_two + ".com" target="_blank" class="sprite sprite-" + val_aside_menu_two)=val_aside_menu_two + ">"
                    button.filters__reset(type="reset" form="nameform" value="Submit")








    footer
        .footer__wrapper

